.flip {
  animation: collectBallFrames 3s;
}

.ball {
  width: 100px;
  height: 100px;
  color: #fff;
  text-align: center;
  line-height: 100px;
  border-radius: 100%;
  opacity: .5;
  background-color: pink;
}

@keyframes collectBallFrames {
  0% {
    transform: translate(0px, 0px);
    opacity: .3;
  }

  100% {
    transform: translate(200px, 200px);
    opacity: 0;
  }
}
